<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<package name="kr.co.shop.customer.domain"/>
		<package name="kr.co.shop.manager.domain"/>
		<package name="kr.co.shop.product.domain"/>
		<package name="kr.co.shop.review.domain"/>
		<package name="kr.co.shop.order.domain"/>
		<package name="kr.co.shop.delivery.domain"/>
		<package name="kr.co.shop.refund.domain"/>
		<package name="kr.co.shop.deletedmember.domain"/>
	</typeAliases>  
</configuration>